<div id="simplified-features">
  <h2 style="font-size: 90px; margin-top: 40px; color: #5acbff; text-align: center;">Features</h2>
  <ul style="margin-top: 20px;">
    <li><h3>No Show Socks that fasten inside various shoes using a patented fastening system</h3></li>
    <li><h3>Tons of Silver Yarn reduce foot and shoe odor (similar to yoga apparel)</h3></li>
    <li><h3>No more Sock Drawer, Slip in and out Barefoot</h3></li>
    <li><h3>Keep Gekks in Shoes for Months without Washing</h3></li>
  </ul>
</div>