    <main id="page" class="customer">	     
	    <section class="content">
    	    <div class="wrap login">
        	    <header>
        	        <h1>Reset Password</h1>
        	        <p>Enter a new password for {{ email }}</p>
        	    </header>
        	    <div class="page">
        	        {% form 'reset_customer_password' %}
        	            {{ form.errors | default_errors }}
        	            <p>
            	            <label for="password">Password</label>
                            <input type="password" value="" name="customer[password]" size="16" placeholder="Enter new password">
        	            </p>
                        <p>
                            <label for="password_confirmation">Confirm</label>
                            <input type="password" value="" name="customer[password_confirmation]" size="16" placeholder="Confirm new password">
                        </p>
                        <input type="submit" value="Reset Password">
        	        {% endform %}
        	    </div>
    	    </div>	    
	    </section>
    </main>