    <main id="page" class="{{ collection.handle }}">	     
	    <section class="content">
    	    <div class="wrap">
        	    <header>
        	        <h1>{{ collection.title }}</h1>
        	    </header>
        	    <div>
                    {% paginate collection.products by 12 %}
                        {% if collection.products.size > 0 %}
                        <div id="product-grid" class="clearfix">
                            {% for product in collection.products %}
                                {% include 'product-grid-item' %}
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% if paginate.pages > 1 %}
                            {% include 'pagination' %}    
                        {% endif %}
                    {% endpaginate %}
        	    </div>
    	    </div>
	    </section>
    </main>