{% comment %}
  DO NOT MODIFY MANUALLY
  This asset is generated automatically by Talkable Integration at 10/4/16 8:34AM
{% endcomment %}
    <main id="page">	     
	    <section class="content">
    	    <div class="wrap">
        	    <div class="page">
        	        <div id="talkable-invite"></div>
        	    </div>
    	    </div>
	    </section>
    </main>