<style>
</style>    

<main id="page">	     
<div class="discount-atf">
    <img src="{{'' | asset_url }}" alt="Black Friday Deals" class="fw" />
</div>
    <div class="discount-cta">
    <a href="/products/womens-closet-pack" class="d-button double"><h2>shop women</h2></a> 
    <a href="/products/mens-closet-pack" class="d-button double"><h2>shop men</h2></a>
    </div>
</main>
