<main id="page">	     
  <section class="content">
    <div class="wrap">
<!--       <header>
        <h1>about us</h1>
      </header> -->
      <div class="page" style="text-align:center;">
        <img src="{{'About-Us.jpg' | asset_url}}" alt="Justin and Christian" id="jac" />
          <p style="font-weight: 300">Brothers Justin and Christian</p>

      </div>
<h1 style="text-align: center;">our story</h1>
<img src="{{'Website-Timeline2.jpg' | asset_url}}" alt="Our Timeline" class="tw do"/>
<img src="{{'Website-Timeline-MOBILE.jpg' | asset_url}}" alt="Our Timeline" class="tw mo"/>
    </div>
  </section>
</main>