    <main id="reviews">	     
	    <section class="content">
    	    <div class="wrap">
        	    <header>
        	        <h1>{{ page.title }}</h1>
        	    </header>
        	    <div class="reviews">
        	        {{ page.content }}
        	    </div>
    	    </div>
	    </section>
    </main>