<style>
#best-deals {
    text-transform: uppercase !important;
    border-bottom: 10px solid #33ffcc;
    border-top: 10px solid #33ffcc;
    text-align: center;
    font-weight: 700;
    margin-top: 20px;
}

.fw { margin: 0; }

#free-ship-weekend {
    text-transform: uppercase !important;
    letter-spacing: 10px;
    font-weight: 700;
    text-align: center;
    margin: 50px 0;
}

.discount-box h4 { 
    text-transform: uppercase !important;
    font-weight: normal;
    letter-spacing: normal;
    padding-bottom: 0 !important;
}

.discount-box h5 { font-weight: 300; line-height: normal; }

.discount-box h3 { 
    font-weight: 700;
    letter-spacing: normal;
    text-transform: none !important;
}

.discount-box {
    text-align: center;
    margin: 25px auto;
    border-left: 10px solid #33ffcc;
    border-right: 10px solid #33ffcc;
    padding: 20px;
    max-width: 550px;
    width: 90%;
    cursor: pointer;
}
#discount-atf { 
    max-height: 50vh;
    overflow: hidden; 
    margin: 20px 0;
}

.discount-box p { 
    margin-top: -20px;
    line-height: normal;
    font-weight: lighter;
}

#discount-cta h2 {
    display: inline-block;
    margin: 50px;
    border: 5px solid black;
    padding: 30px;
    text-decoration: underline;
    letter-spacing: normal;
    width: 40%;
}

#discount-cta { text-align: center; margin-bottom: 20px;}

@media only screen and (max-width: 1023px) and (min-width: 800px) {
    #discount-cta h2 { font-size: 24pt; margin: 20px;}
    #best-deals { font-size: 32pt; }
}

@media only screen and (max-width: 799px) and (min-width: 589px) {
    #best-deals { font-size: 22pt; }
    #discount-cta h2 { font-size: 19pt; padding: 10px; margin: 20px; }
}

@media only screen and (max-width: 588px) and (min-width: 481px) {
    #best-deals { font-size: 20pt; }
    #free-ship-weekend {
        font-size: 24pt;
        margin: 20px 0;
    }

    .discount-box h4 { font-size: 16pt; }
    #discount-cta h2 {
        font-size: 14pt;
        margin: 10px;
        padding: 10px;
        border: 2px solid black;
    }
}

@media only screen and (min-width: 400px) and (max-width: 480px) {
    #best-deals { font-size: 16pt; }
    #free-ship-weekend  {
        font-size: 16pt;
        margin: 20px 0;
    }
    .discount-box h4 { font-size: 12pt; }
    #discount-cta h2 {
        font-size: 12pt;
        margin: 10px;
        padding: 10px;
        border: 3px solid black;
    }
}

@media only screen and (max-width: 400px) {
    #best-deals { font-size: 14pt; }
    #free-ship-weekend  {
        font-size: 14pt;
        margin: 10px;
    }
    .discount-box h4 { font-size: 10pt;}
    .discount-box p { font-size: 9pt; }
    #discount-cta h2 { 
        font-size: 10pt;
        margin: 10px;
        padding: 10px;
        border: 2px solid black;
    }
}

.discount-code {
    display: inline-block;
}
</style>    

<main id="page">	     
<header>
    <h1 id="best-deals">The Perfect Gift at the Perfect Price</h1>
</header>
<div id="discount-atf">
    <img src="{{'blackfriday.gif' | asset_url }}" alt="Black Friday Deals" class="fw" />
</div>
    <h2 id="free-ship-weekend">Free Shipping<br> All Season</h2>
    <div class="discount-box">
        <h4>$8 off Orders Over $40</h4>
        <h5>Purchase a Women's Closet Pack <br>& receive an additional $5 Off!</h5>
        <h3>code: <div class="discount-code" >HOLIDAY8</div></h3>
        <p class="copy-fb" style="visibility: hidden;">copied!</p>
    </div>
    <div class="discount-box">
        <h4>$15 off Orders Over $60</h4>
        <h3>code: <div class="discount-code">STOCKING15</div></h3>
        <p class="copy-fb" style="visibility: hidden;">copied!</p>
    </div>
      <div class="discount-box">
        <h4>$20 off Orders Over $80<br>
        orders over $60</h4>
        <h5>shop for the whole family!</h5>
        <h3>code: <div class="discount-code">WINTER20</div></h3>
        <p class="copy-fb" style="visibility: hidden;">copied!</p>
    </div>
    <div id="discount-cta">
    <a href="/products/womens-closet-pack" class="d-button double"><h2>shop women</h2></a> 
    <a href="/products/mens-closet-pack" class="d-button double"><h2>shop men</h2></a>
    </div>
</main>

<script>
$('.discount-box').click(function(){
        var $temp = $("<input>"); 
        var code = $(this).children().children(".discount-code").text()
        var feedback = $(this).children(".copy-fb")
        $('body').append($temp); 
        $temp.val(code).select(); 
        document.execCommand("copy"); 
        $temp.remove(); 
        $('.copy-fb').css({visibility: "hidden"})
        $(feedback).css({visibility: "visible"}) 
}); 

</script>