<style>
.discount-box h4 { 
    text-transform: uppercase !important;
    font-weight: normal;
    letter-spacing: normal;
    padding-bottom: 0 !important;
}

.discount-box h5 { font-weight: 300; line-height: normal; }

.discount-box h3 { 
    font-weight: 700;
    letter-spacing: normal;
    text-transform: none !important;
}

.discount-box {
    text-align: center;
    margin: 25px auto;
    border-left: 10px solid #33ffcc;
    border-right: 10px solid #33ffcc;
    padding: 20px;
    max-width: 550px;
    width: 90%;
}

.discount-box p { 
    margin-top: -20px;
    line-height: normal;
    font-weight: lighter;
}

@media only screen and (min-width: 1080px) {
    .discount-atf h1 { font-size: 70pt; }
}

@media only screen and (min-width: 800px) and (max-width: 1079px) {
    .discount-atf h1 { font-size: 54pt; }
    .discount-atf h4 { margin-top: -33%; }
}

@media only screen and (min-width: 589px) and (max-width: 799px) {
    .discount-atf h1 {font-size: 45pt;}
    .discount-atf h4 { margin-top: -34% !important; }
}
@media only screen and (max-width: 588px) and (min-width: 481px) {
    .discount-atf h1 { font-size: 30pt; }
    .discount-atf h4 { margin-top: -34% !important; }

    .discount-box h4 { font-size: 16pt; }
}

@media only screen and (min-width: 400px) and (max-width: 480px) {
    #free-ship-weekend  {
        font-size: 16pt;
        margin: 20px 0;
    }
    .discount-atf h4 {
        margin-top: -34% !important;
        letter-spacing: normal;
        padding-bottom: 5px !important;
    }
    .discount-atf h1 { font-size: 30pt; }
    .discount-box h4 { font-size: 12pt; }
}

@media only screen and (max-width: 400px) {
    .discount-atf h4 {
        margin-top: -36% !important;
        letter-spacing: normal;
        padding-bottom: 5px !important;
        font-size: 12pt;
    }
    .discount-box h4 { font-size: 10pt;}
    .discount-box p { font-size: 9pt; }
    .discount-atf h1 { font-size: 24pt; }
}

.discount-code { display: inline-block; }

.discount-atf {
    background-image: url("{{'Website-Holiday-Graphic.jpg' | asset_url}}");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 0;
    padding-top: 41%;
    width: 100%;
    text-align: center;
}

.discount-atf h4{
    margin-top: -31%;
    letter-spacing: normal; 
 }

 .discount-atf h1 {
    font-family: Magenta !important;
    font-weight: bolder;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none !important;
}
</style>    

<main id="page">
<div class="discount-atf">
    <h4>find discounts on the</h4>
    <h1>perfect stocking<br> stuffer</h1>
</div>
    <div class="discount-box">
        <h4>$8 off Orders Over $40</h4>
        <h5>Purchase a Women's Closet Pack <br>& receive an additional $5 Off!</h5>
        <h3>code: STOCKING8</h3>
    </div>
    <div class="discount-box">
        <h4>$15 off Orders Over $60</h4>
        <h3>code: STOCKING15</h3>
    </div>
      <div class="discount-box">
        <h4>$25 off Orders Over $80<h4>
        <h5>shop for the whole family!</h5>
        <h3>code: STOCKING25</h3>
    </div>
    <div class="discount-cta">
    <a href="/products/womens-closet-pack" class="d-button double"><h2>shop women</h2></a> 
    <a href="/products/mens-closet-pack" class="d-button double"><h2>shop men</h2></a>
    </div>
</main>
